/*===============================================================*/
/* Estilizações gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: "Inter", sans-serif;
    display: flex; /* Flexbox no body para ocupar toda a tela */
}

/*===============================================================*/
/* Sidebar */
.sidebar {
    width: 15rem;
    background-color: #757cff;
    color: white;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar ul{
  list-style: none;
  padding: 0;
}

.sidebar a{
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.2s;
}

.sidebar a:hover{
    background-color: rgba(255, 255, 255, 0.2); /* Sidebar com hover */
}

.sidebar i{
  font-size: 1.5rem;
}

.sidebar-top div{
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    padding: 10px;
}

.sidebar-top h1{
    padding: 10px;
    font-size: 1.8rem;
    font-weight: 900;
}

.sidebar-bottom{
    align-items: center;
}

.sidebar-bottom button{
    background-color: #484dac;
    color: #fff;
    width: 100%;
}

.sidebar-bottom button:hover{
    background-color: #25275c;
}


/*===============================================================*/
/* Container principal */
.container {
    flex: 1;
    padding: 20px; 
    overflow-y: auto; /* Adiciona scroll vertical se o conteúdo for maior que a tela */
}

.card{
  margin-bottom: 1rem;
}

.card-add {
    display: flex;
    justify-content: space-between;
    align-items: center;
}