/*===============================================================*/
/*Estilizações gerais*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body{
    font-family: "Inter", sans-serif;
}


/*===============================================================*/
/*Cabeçalho da página*/
header{
    height: 4.5rem;
    background-color: #757cff;
}

.header-content{
    height: 100%;
    width: 70%;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content-left img{
    height: 2rem;
}

.header-content-left h1{
    font-weight: 800;
    color: #fff;

    display: flex;
    align-items: center;

}

.header-content-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.header-content-right i{
    color: #fff;
    font-size: 2rem;
    margin-left: 5rem;
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin-right: 1rem;
    margin-top: 0.8rem;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

nav ul li a:hover{
    color: #25275c;
}

/*===============================================================*/
/*Banner*/

.banner{
    height: 40rem;
    width: 100%;

    position: relative;
    overflow: hidden;

    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.banner img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.banner div {
    width: 100%;
    height: 100%;

    position: absolute;
    background-image: linear-gradient(to top, #ffffff, rgba(117, 124, 255, 0));

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.banner div h1{
    font-weight: 700;
    color: #3f46c4;
    font-size: 5rem;
}

.banner div p{
    width: 80%;
    font-weight: 400;
    font-size: 1.2rem;
    text-align: center;
}

/*===============================================================*/
/*Seção de conteúdo*/

.main {
    width: 100%;
}

.main-content{
    height: 100%;
    width: 70%;
    margin: 0 auto;
    padding: 2rem 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*===============================================================*/
/*Rodapé*/

footer{
    background-color: #757cff;
}

.footer-content{
    height: 100%;
    width: 70%;
    padding-top: 1rem;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

.footer-content p{
    color: white;
    font-size: 0.8rem;
    margin-top: 1rem;
}

.footer-links{
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
}

.footer-content h3{
    color: white;
    font-weight: 700;
}

.footer-content ul{
    padding: 0;
}

.footer-content li{
    list-style: none;
    margin-top: 0.8rem;
}

.footer-content li a{
    text-decoration: none;
    color: white;
}